/* Top container representing a dialog box */
.erb-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	max-width: 100%;
	border-style: solid;
	border-width: var(--erb-dialog-border, 0);
	border-top-width: var(--erb-dialog-top-border, 0);
	border-bottom-width: var(--erb-dialog-bottom-border, 0);
	background-color: var(--erb-dialog-bg, #ffffff);
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	border-radius: var(--erb-box-radius, 4px);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border-top-style: solid;
	border-top-width: 7px;
	border-top-color: transparent;
	overflow: hidden;
	z-index: 400;
}

/* Header inside the dialog */
.erb-dialog > .erb-header {
	position: relative;
	padding: 7px 15px;
	font-size: 0.9rem;
}

/* Close button inside the dialog */
.erb-dialog > .erb-close {
	position: absolute;
	top: 2px;
	right: 5px;
	z-index: 405;
}

/* Element with the content of the dialog */
.erb-dialog > .erb-body {
	padding: 10px 15px;
	background-color: #f3f3f4;
}

/* Footer area for the dialog */
.erb-dialog > .erb-footer {
	padding: 10px 15px;
	text-align: right;
}

/* Informational dialog */
.erb-dialog.erb-info {
	border-top-color: var(--erb-info, #7da7d8);
}
.erb-dialog.erb-info > .erb-header {
	color: var(--erb-info, #7da7d8);
}
.erb-dialog.erb-info > .erb-footer > .erb-button {
	background-color: var(--erb-info, #7da7d8);
	color: var(--erb-info-fg, #ffffff);
}

/* Success dialog */
.erb-dialog.erb-success {
	border-top-color: var(--erb-success, #86D161);
}
.erb-dialog.erb-success > .erb-header {
	color: var(--erb-success, #86D161);
}
.erb-dialog.erb-success > .erb-footer > .erb-button {
	background-color: var(--erb-success, #86D161);
	color: var(--erb-success-fg, #000000);
}

/* Warning dialog */
.erb-dialog.erb-warn {
	border-top-color: var(--erb-warn, #EDB95E);
}
.erb-dialog.erb-warn > .erb-header {
	color: var(--erb-warn, #EDB95E);
}
.erb-dialog.erb-warn > .erb-footer > .erb-button {
	background-color: var(--erb-warn, #EDB95E);
	color: var(--erb-warn-fg, #000000);
}

/* Error dialog */
.erb-dialog.erb-error {
	border-top-color: var(--erb-error, #e45959);
}
.erb-dialog.erb-error > .erb-header {
	color: var(--erb-error, #e45959);
}
.erb-dialog.erb-error > .erb-footer > .erb-button {
	background-color: var(--erb-error, #e45959);
	color: var(--erb-success-fg, #ffffff);
}

/* Confirmation dialog */
.erb-dialog.erb-confirm {
	border-top-color: var(--erb-neutral, #7e7e7e);
}
.erb-dialog.erb-confirm > .erb-header {
	color: var(--erb-neutral, #7e7e7e);
}
.erb-dialog.erb-confirm .erb-button.erb-positive {
	background-color: var(--erb-positive, #86D161);
	color: var(--erb-positive-fg, #ffffff);
}
.erb-dialog.erb-confirm .erb-button.erb-negative {
	background-color: var(--erb-negative, #e45959);
	color: var(--erb-negative-fg, #ffffff);
}