.erb-protect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--erb-protect-color, #ffffff34);
	opacity: var(--erb-protect-opacity, 1);
	backdrop-filter: blur(5px);
	z-index: 300;
}