/* Main container with all the toast instances */
.erb-toast-container {
    position: absolute;
    box-sizing: border-box;
    width: 0;
    top: 0;
    right: 0;
    padding-top: var(--erb-layout-top-height, 60px);
    margin-right: var(--spacing-xs, 5px);
    overflow: visible;
}

/* Element with a toast box (a single Toast) */
.erb-toast {
    position: relative;
    width: var(--erb-toast-width, 300px);
    min-height: var(--erb-toast-min-height, 50px);
    padding-top: var(--erb-toast-tp, var(--erb-spacing-sm, 10px));
    padding-bottom: var(--erb-toast-bt, var(--erb-spacing-sm, 10px));
    padding-left: var(--erb-toast-lp, var(--erb-spacing-sm, 10px));
    padding-right: var(--erb-toast-lp, var(--erb-spacing-sm, 10px));
    margin-bottom: var(--erb-toast-mb, var(--erb-spacing-sm, 10px));
    border-radius: var(--erb-box-radius-sm, 5px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}
.erb-toast.erb-error {
    background: var(--erb-error, #e45959);
    color: var(--erb-error-fg, #ffffff);
}
.erb-toast.erb-warn {
    background: var(--erb-warn, #EDB95E);
    color: var(--erb-warn-fg, #000000);
}
.erb-toast.erb-success {
    background: var(--erb-success, #86D161);
    color: var(--erb-success-fg, #000000);
}
.erb-toast.erb-info {
    background: var(--erb-info, #7da7d8);
    color: var(--erb-info-fg, #ffffff);
}

/* Header in top of the toast element */
.erb-toast > .erb-header {
    font-size: 0.9rem;
    padding-bottom: var(--spacing-xs, 5px);
}

/* Header in top of the toast element */
.erb-toast > .erb-body {
    font-size: 0.9em;
    font-weight: normal;
}

.erb-toast.erb-open {
    animation-name: toast-move;
    animation-timing-function: ease-out;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    transform: translate(-100%);
}
@keyframes toast-move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.erb-toast.erb-closed {
    animation-name: toast-fadeout;
    animation-timing-function: ease-out;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    transform: translateX(0);
}
@keyframes toast-fadeout {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}